<html>
	<head>
		<title>Martyr Psalm CheatSheet</title>
	</head>
	<body style="color:white; background-color: rgb(BGCOLOR_HERE);">
	<script src="script.js" async></script>
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 50%; text-align: center; padding: 8px;">
						<span style="font-size: 18px;">
							<strong>
								<u>Required Runes</u>
							</strong>
						</span>
					</td>
					<td style="text-align: center; padding: 8px;">
						<span style="font-size: 18px;">
							<strong>
								<u>Effect</u>
							</strong>
						</span>
					</td>
				</tr>
				CONTENT_HERE
			</tbody>
		</table>
	</body>
</html>
