<html>
	<head>
		<title>PSALMNAME_HERE</title>
	</head>
	<body style="color:white; background-color: rgb(BGCOLOR_HERE);">
		<a href="../index.html" style="color: white;">mainPage</a>
		<h1>PSALMNAME_HERE</h1>
		<a href="../psalmPages/PSALMNAME_HERE.html">
			<img src="../res/PSALMNAME_HERE.png" title="PSALMNAME_HERE">
		</a>
		<br>
		<br>
		EFFECT_HERE
		<br>
		<br>
			<h3>
			Children
			</h3>
			CHILDREN_HERE
		<br>
		<br>
			<h3>
			Parents
			</h3>
			PARENTS_HERE
		<br>
		<br>
	</body>
</html>