
<p-table [value]="filteredPsalms" [rowHover]="true" class="table-hover">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 100px;">
            </th>
            <th>
                <input type="text" (input)="filter($event.target.value, 'name')" placeholder="filter name">
            </th>
            <th>
                <input type="text" (input)="filter($event.target.value, 'effect')" placeholder="filter effect">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-psalm let-index="rowIndex">
        <tr [routerLink]="['/psalm/detail/', psalm.getId()]" pSelectableRow>
            <td>
               	<img src="{{psalm.getImgFile()}}" [title]="psalm.name">
            </td>
            <td>
                {{psalm.name}}
            </td>
            <td>
                {{psalm.effect}}
            </td>
        </tr>
    </ng-template>
</p-table>